body {
    background-color: #7dabff;
    display: flex;
    flex-direction: column;
}

svg {
    padding: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
}

.header button {
    position:absolute
}

.header h2 {
    text-align: center;
    width: 100%;
}

.respostas {
    height: 25vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.respostas button {
    max-height: 35vh;
    aspect-ratio: 1;
}

.respostas button img {
    max-height: 100%;
}

.images-container {
    margin-block: 2rem;
}

.uma_imagem {
    height: 50vh;
}

.uma_imagem img {
    height: 50vh;
}

.quatro_imagem {
    display: flex;
    grid-gap: 1rem;
    width:fit-content;
    margin-block: 1rem;
}

.quatro_imagem img {
    height: 25vh;
}