body {
    /* background-color: #7dabff;*/
    background-image: url(assets/background2.png);
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

:root {
    --msg-color: red;
}

svg {
    padding: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
}

.header button {
    position:absolute
}

.header h2 {
    text-align: center;
    width: 100%;
}

.respostas {
    height: 25vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.respostas button {
    max-height: 35vh;
    aspect-ratio: 1;
}

.respostas button img {
    max-height: 100%;
}

.images-container {
    margin-block: 2rem;
}

.uma_imagem {
    height: 50vh;
}

.uma_imagem img {
    height: 50vh;
}

.quatro_imagem {
    display: flex;
    grid-gap: 1rem;
    width:fit-content;
    margin-block: 1rem;
}

.quatro_imagem img {
    height: 25vh;
}

.dialog_button {
    aspect-ratio: auto;
    position: inherit;
    height: 50px;
    background: #e09d38;
    margin-inline: 0;
}

dialog h2 {
    color: var(--msg-color);
}