body {
    /* background-color: #7dabff;*/
    background-image: url(assets/background2.png);
    background-size: cover;
    background-position-x: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

:root {
    --msg-color: red;
}

svg {
    padding: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
}

.header button {
    position:absolute;
    padding: 0px;
}

.header h2 {
    text-align: center;
    width: 100%;
}

.respostas {
    height: 25vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.respostas button {
    aspect-ratio: 1;
}

.respostas button img {
    max-height: 100%;
}

.images-container {
    margin-block: 2rem;
}

.uma_imagem img {
    height: 50vh;
}

.quatro_imagem {
    display: flex;
    grid-gap: 1rem;
    width:fit-content;
    margin-block: 1rem;
}

.quatro_imagem img {
    height: 25vh;
}

.dialog_button {
    aspect-ratio: auto;
    position: inherit;
    height: 50px;
    background: #e09d38;
    margin-inline: 0;
}

dialog h2 {
    color: var(--msg-color);
}

@media screen and (orientation:portrait) {
    .header button svg {
        width:10vw;
        height:10vw;
    }
    .header button svg image {
        width:10vw;
        height:10vw;
    }

    .header h2 {
        text-align: center;
        padding-left: 10vw;
    }

    .images-container {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .uma_imagem img {
        height: 40vh;
    }

    .quatro_imagem {
        display: flex;
        grid-gap: 1rem;
        width:fit-content;
        margin-block: 1rem;
    }

    .quatro_imagem img {
        height: 20vh;
    }

    .respostas {
        height: 40vh;
        width: 95vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .respostas button {
        width: 45%;
        aspect-ratio: 1;
        font-size: larger;
        text-shadow: none;
    }

    .respostas button img {
        max-width: 100%;
    }

    dialog h2 {
        font-size: 2em;
    }

    dialog p {
        font-size: 1.25em;
    }

    .dialog_button {
        height: auto;
    }
    
}