@font-face {
    font-family: Pixel;
    src: url(assets/PressStart2P.ttf);
}
:root {
    --font: 'Pixel';
    --font-weight: 'normal';
}
*{
    font-family: var(--font);
    font-weight: var(--font-weight);
}

.container{
    height: 100vh;  
    width: 100%;
    display: flex;  
    flex-direction: column; 
    justify-content: center;    
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28%;
    margin-top: 2rem;
    margin-bottom: 1.25rem ;
    min-width: min-content;
}

.btn-visualmente{
    background: #ffbd59;
    color: black;
    width: 100%;
    padding: .5rem 0;
    margin-inline: .5rem;
    margin-bottom: .75rem;
    text-shadow: 2px 2px #00000060;
    font-size: 1.25rem;
    letter-spacing: .025em;
    border: 2px solid black;
    cursor: pointer;
}
.btn-visualmente:hover {
    background: cornsilk;
}

.btn-visualmente:active {
    color: rgba(193, 251, 255, 0.774);
}

dialog {
    padding: 0;
    width: 28%;
    min-width: min-content;
}

dialog div {
    background: #ffbd59;
    padding: 1rem 1rem;
    white-space: nowrap;
}

dialog h2 {
    text-align: center;
    padding-bottom: 1rem;
}

dialog::backdrop {
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(2px);
}

.dialog_button {
    aspect-ratio: 1;
    position: absolute;
    right: 10px
}

@media screen and (orientation:portrait) {
    .menu {
        width: 75%;
    }
    
    dialog {
        width: 75%;
        font-size: large;
    }

    dialog p {
        font-size: .70em;
    }
    
    dialog button{
        font-size: large;
    }
    
    .btn-visualmente {
        font-size: 2rem;
    }
}